.nav {
    width: 900px;
    height: 55px;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
}

.nav-title {
    color: #f9f9f9;
    width: 450px;
    margin: 0 0 0 20px;
    font-family: Calibri;
}

.nav-links {
    display: contents;
    justify-items: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #bababa;
    font-family: Calibri;
}

.active {
    color: #f7f7f7;
}

.btn {
    background-color: #17a2b8;
    color: #ffffff;
    margin: 0 20px 0 0;
    box-shadow: 2px 2px 2px 2px black;
    border: 2px solid black;
    font-family: Arial;
    width: 70px;
}